.caracteristicas .carac-main {
    flex-flow: row nowrap;
    display: flex;

    justify-content: center;
    align-items: center;

    .caracteristica {
        justify-content: center;
        flex-flow: column nowrap;
        align-items: center;
        display: flex;

        text-justify: distribute;
        text-align: justify;

        margin: 0vh 0vw;
        padding: 1vw;
        width: 50%;

        & img {
            aspect-ratio: 1;
            width: 150px;
        }
    }
}
@media (max-width: 550px) {
    .caracteristicas .carac-main{
        flex-flow: column wrap;
        
        .caracteristica{
            width: 90%;
        }
    }
}