.carreras .title {
    border-radius: 20px 20px 0px 0px;
    background: var(--primary);
    padding: 2vh 0vw;
    margin: 0;
}

.carreras .main-carreras {
    background: var(--primary);
    justify-content: center;
    align-items: center;

    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
    padding: 5vh 5vw;
}

.carreras article {
    flex-flow: row nowrap;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    & div {
        text-wrap: pretty;
        padding: 1vh 1vw;
        margin: 1vh 1vw;
        width: 80%;

        transition: all 1s;
        
        & img {width: 100%;}
        
        &:has(a:hover){
            & {
                background: var(--thirty);
                border-radius: 10px;
                color: var(--primary);

                & img{
                    background: var(--primary);
                    border-radius: 20px;
                }
            }
        }


    }
}

@media (max-width: 550px) {
    .carreras article {
        flex-flow: column wrap;
    }
}