nav {
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 0px 50px black;
    background: var(--second);
    
    flex-flow: row wrap;
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    padding: 2vh 10vw;
    position: fixed;

    z-index: 1;
    width: 90%;
    left: 5%;

    animation: appear-nav 0.5s ease-in;

    & img {
        width: 120px;
    }

    &:has(button:focus) {
        & button {
            background: var(--thirty);
            rotate: 90deg;
        }

        & menu {
            animation: appear-menu 0.5s ease-in;
            display: flex;
        }
    }
}


nav button {
    border-radius: 10px;
    color: var(--font);
    background: none;
    border: none;
    
    transition: all 0.5s ease-in;
    padding: 0.5vh 0.5vw;
    cursor: pointer;
}

nav menu {
    background: var(--second);
    flex-flow: column nowrap;
    position: fixed;
    display: none;

    border-radius: 20px 0px 0px 20px;
    text-align: center;
    padding: 10vh 2vw;

    box-shadow: 0px 0px 20px black;
    right: 0%;
    top: 35%;

    & a {
        padding: 0.5vh 0.5vw;
        font-weight: normal;

        text-decoration: none;
        border-radius: 10px;
        color: var(--font);

        transition: all 0.5s ease-in;
        font-size: 1.2rem;

        &:hover {
            background: var(--thirty);
            color: var(--second);
            font-weight: bold;
        }
    }
}

@keyframes appear-nav {
    from {
        translate: 0px -100px;
    }

    to {
        translate: 0px 0px;
    }
}

@keyframes appear-menu {
    from {
        translate: 100px 0px;
        opacity: 0;
    }

    to {
        translate: 0px 0px;
        opacity: 1;
    }
}